@import "tailwindcss";
.bg-logo-gradient {
    background: linear-gradient(to right, #062059, #1f377e, #577cab);
    animation: gradient 3s ease-in-out infinite;
}

.text-logo-gradient {
    background: linear-gradient(to right, #062059, #1f377e, #577cab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.text-logo-stroke-3 {
    -webkit-text-stroke: 1px white;
}

/* Gradient animation */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

figure {
    margin: 0 auto;
}